---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          	<!-- Botón de Compartir en X -->
			<a href="https://x.com/intent/tweet?text={{ page.title | urlencode }}&url={{ site.url }}{{ page.url | urlencode }}" title="Compartir en X" rel="nofollow" target="_blank">X</a>

			<!-- Botón de Compartir en Facebook -->
			<a href="#" onclick="shareOnFacebook()" title="Compartir en Facebook" rel="nofollow">Facebook</a>
			

          <!--<a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google+" rel="nofollow" target="_blank">Google+</a>-->
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
      {% include disqus.html %}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->

<script>
// Función para compartir en Facebook y copiar URL al portapapeles
function shareOnFacebook() {
  // URL de la página actual
  const pageUrl = '{{ site.url }}{{ page.url | urlencode }}';
  const encodedUrl = encodeURIComponent(pageUrl);

  // URL para compartir en Facebook
  const fbWebUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodedUrl}`;

  // Copiar la URL al portapapeles
  copyToClipboard(pageUrl);

  // Abrir la ventana de compartir en Facebook
  const newWindow = window.open(fbWebUrl, '_blank', 'width=600,height=400');

  // Intentar enfocar la ventana emergente
  if (newWindow) {
    newWindow.focus();
  }
}

// Función para copiar al portapapeles
function copyToClipboard(text) {
  const textArea = document.createElement('textarea');
  textArea.value = text;
  document.body.appendChild(textArea);
  textArea.select();
  document.execCommand('copy');
  document.body.removeChild(textArea);

  // Opcional: Mensaje de confirmación
  alert('El enlace de este blog se copió al portapapeles.');
}
</script>
